@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    width: auto;
    min-height: 85vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 15px;
    border: solid 2px;
    border-radius: 15px;
    border-color: #000056;
    background-color: #FFF;
    display: grid;
    grid-auto-rows: 40px;
}

.box p {
    color: #000056;
}

.link {
    text-decoration: none;
    font-family: "Montserrat";
    width: auto;
    font-weight: 600;
    color: #F59817;
}

.signUp {
    text-align: center;
}

.container input {
    width: 95%;
  }

.buttonEnter {
    width: 85px;
    height: 35px;
}


.titleAlert {
    font-family: "Montserrat" !important;
    color: #F59817 !important;
  }

  .titleContent {
    font-family: "Montserrat" !important;
    color: #000056 !important;
    /* #666666; */
  }

  .alertConfirmButton {
    background-color: #F59817!important;
    color: #ffffff !important;
  }
  
  .alertCancelButton {
    background-color: #f44336 !important;
    color: #ffffff !important;
  }
  
  .alertFooter {
    background-color: #f44336; /* Cor de fundo */
    color: #FFFFFF; /* Cor do texto */
    font-family: 'Montserrat'; /* Fonte */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; 
}