.newsTitle{
    background-color: #FFF;
    border: solid 2px;
    border-radius: 15px;
    border-color: #000056;
    width: auto;
    height: auto;
    padding: 10px;

    font-family: "Montserrat";
    color: #000056;
    font-weight: 600;
    text-align: center;
}

.newsInfo {
    background-color: #F6CB6C;
    border-radius: 15px;
    width: auto;
    height: auto;
    margin: 15px 0px 15px 0px;
    padding: 15px;

    font-family: "Montserrat";
    color: #000056;
    font-weight: 600;
}