.vestibular{
    background-color: #FFF;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    margin: 25px;
    padding: 5px 0px 0px 5px;
    align-items: center;
    text-transform: uppercase;
    font-family: "Montserrat";
    color: #000056;
    font-weight: 600;
    text-decoration: none;
}